<head><link rel="preconnect"href="https://fonts.googleapis.com"><link rel="preconnect"href="https://fonts.gstatic.com"crossorigin><link href="https://fonts.googleapis.com/css2?family=Cardo&family=Roboto+Mono:wght@300&family=Roboto+Serif:wght@500&display=swap"rel="stylesheet"><script src="https://kit.fontawesome.com/40a3bc6bef.js"crossorigin="anonymous"></script></head><body><div id="main"><h1>Summer Reading List</h1><div class="book-panel"><img src="https://the-public-domain-review.imgix.net/collections/the-art-of-book-covers-1820-1914/47020121602_46511f733a_o.jpg?fit=max&w=2400"alt="Cover of book"class="cover-img"><div class="book-info"><h2>Book Title</h2><h3>Author's Name</h3>
<p>Lorem ipsum dolor,
sit amet consectetur adipisicing elit. Dignissimos laborum cumque incidunt,
enim ipsa dicta? Porro illo doloribus,
consectetur eum exercitationem sit ipsam,
est nesciunt maxime,
eius animi dolor? Harum.</p></div><div class="progress"><h3>Progress</h3><div class="progress-bar"><div class="bar-meter">25%</div></div><button>Update Progress</button><button>Finished Reading</button><div class="social"><h3>Share to:</h3><a href="#"class="social-link"><i class="fa-brands fa-discord"></i></a><a href="#"class="social-link"><i class="fa-brands fa-facebook"></i></a><a href="#"class="social-link"><i class="fa-brands fa-facebook-messenger"></i></a><a href="#"class="social-link"><i class="fa-brands fa-goodreads-g"></i></a><a href="#"class="social-link"><i class="fa-brands fa-instagram"></i></a><a href="#"class="social-link"><i class="fa-brands fa-reddit"></i></a></div></div></div></div>< !-- Book panel Starts --><div class="book-panel"><img src="https://the-public-domain-review.imgix.net/collections/the-art-of-book-covers-1820-1914/47020120642_f34291064d_o.jpg?fit=max&w=2400"alt="Cover of book"class="cover-img"><div class="book-info"><h2>Book Title</h2><h3>Author's Name</h3>
<p>Lorem ipsum dolor,
sit amet consectetur adipisicing elit. Dignissimos laborum cumque incidunt,
enim ipsa dicta? Porro illo doloribus,
consectetur eum exercitationem sit ipsam,
est nesciunt maxime,
eius animi dolor? Harum.</p></div><div class="progress"><h3>Progress</h3><div class="progress-bar">0% </div><button>Started Reading</button><button>Finished Reading</button><div class="social"><h3>Share to:</h3><a href="#"class="social-link"><i class="fa-brands fa-discord"></i></a><a href="#"class="social-link"><i class="fa-brands fa-facebook"></i></a><a href="#"class="social-link"><i class="fa-brands fa-facebook-messenger"></i></a><a href="#"class="social-link"><i class="fa-brands fa-goodreads-g"></i></a><a href="#"class="social-link"><i class="fa-brands fa-instagram"></i></a><a href="#"class="social-link"><i class="fa-brands fa-reddit"></i></a></div></div></div>< !-- Book panel Starts --><div class="book-panel"><img src="https://the-public-domain-review.imgix.net/collections/the-art-of-book-covers-1820-1914/40107505473_2d585d81ba_o.jpg?fit=max&w=2400"alt="Cover of book"class="cover-img"><div class="book-info"><h2>Book Title</h2><h3>Author's Name</h3>
<p>Lorem ipsum dolor,
sit amet consectetur adipisicing elit. Dignissimos laborum cumque incidunt,
enim ipsa dicta? Porro illo doloribus,
consectetur eum exercitationem sit ipsam,
est nesciunt maxime,
eius animi dolor? Harum.</p></div><div class="progress"><h3>Progress</h3><div class="progress-bar">0% </div><button>Started Reading</button><button>Finished Reading</button><div class="social"><h3>Share to:</h3><a href="#"class="social-link"><i class="fa-brands fa-discord"></i></a><a href="#"class="social-link"><i class="fa-brands fa-facebook"></i></a><a href="#"class="social-link"><i class="fa-brands fa-facebook-messenger"></i></a><a href="#"class="social-link"><i class="fa-brands fa-goodreads-g"></i></a><a href="#"class="social-link"><i class="fa-brands fa-instagram"></i></a><a href="#"class="social-link"><i class="fa-brands fa-reddit"></i></a></div></div></div>< !-- Book panel Starts --><div class="book-panel"><img src="https://the-public-domain-review.imgix.net/collections/the-art-of-book-covers-1820-1914/47020120762_d0ffa696e7_o.jpg?fit=max&w=2400"alt="Cover of book"class="cover-img"><div class="book-info"><h2>Book Title</h2><h3>Author's Name</h3>
<p>Lorem ipsum dolor,
sit amet consectetur adipisicing elit. Dignissimos laborum cumque incidunt,
enim ipsa dicta? Porro illo doloribus,
consectetur eum exercitationem sit ipsam,
est nesciunt maxime,
eius animi dolor? Harum.</p></div><div class="progress"><h3>Progress</h3><div class="progress-bar">0% </div><button>Started Reading</button><button>Finished Reading</button><div class="social"><h3>Share to:</h3><a href="#"class="social-link"><i class="fa-brands fa-discord"></i></a><a href="#"class="social-link"><i class="fa-brands fa-facebook"></i></a><a href="#"class="social-link"><i class="fa-brands fa-facebook-messenger"></i></a><a href="#"class="social-link"><i class="fa-brands fa-goodreads-g"></i></a><a href="#"class="social-link"><i class="fa-brands fa-instagram"></i></a><a href="#"class="social-link"><i class="fa-brands fa-reddit"></i></a></div></div></div></body>@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h3 {
    font-family: 'Bebas Neue', cursive;
    background-color: beige;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    background-color: beige;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    background-color: beige;
}

body {
    background-color: greenyellow;
    background-size: cover;
    background-attachment: fixed;
}

p {
    background-color: beige;
}